@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
 /* Title */
 .title {
	 text-align: center;
 }
 .big-text {
	font-family: 'Rock Salt', cursive;	 
	font-size: 3em;
	color:#ff0000;
	/* text-shadow: 2px 2px rgb(114, 10, 31); */
	text-shadow: 5px 5px #000;
 }

 /* Playing Table */
.table-container {
	background-image: url("/src/images/table-texture.jpg");
	height: 600px;
	width: 600px;
	margin: auto;
    background-size: contain;
    overflow: hidden;
	border-radius: 10%;
}
.table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Card styling */
.card {
	width: 100px;
	margin: auto;
}
.card-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
	height: 400px;
}

img {
	height: 10em;
	box-shadow: 2px 2px rgb(255 0 0);
	border-radius: 10px;
}
.player-text {
	height: 100px;
}
.card-text {
	font-family: 'Yomogi', cursive;	
	font-size: 2em;
	color: #FFF;
	font-weight: bold;
	text-shadow: 3px 3px #000;

}
.card-display {
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 600px;
}

/* Outcome Styling */
.outcome-text {
	font-family: 'Yomogi', cursive;	
	text-shadow: 1px 1px;
	margin: auto;
	font-size: 45px;
	color:#fff;
	text-shadow: 3px 3px #000;

}

/* Button Styling */
.btn-container {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 200px;
	/* flex-direction: row; */
	/* padding-top: 60px; */
}

.btn {
	background-image: url("/src/images/table-texture.jpg");
	font-family: 'Rock Salt', cursive;	
	font-weight: 1000;
	width: 150px;
	background-size: cover;
    overflow: hidden;
	border-radius: 10%;
	color: #fff;
	text-shadow: 3px 3px #000;
	box-shadow: 3px 3px rgb(10, 10, 10);
	font-size: 25px;
}

.steel-texture {
	background-image: url("/src/images/button-texture.jpg");
	height: 100px;
	width: 200px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10%;
	box-shadow: 5px 5px rgb(41, 40, 40);

}

.war-text:hover {
	cursor: pointer;
}

/* Score styling */

.score-container {
	display: flex;
	flex-direction: column;
    text-align: center;
    font-size: smaller;
    justify-content: center;
    width: 200px;
}
.score-text {
	height: 50px;
}
.score-count {
	display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

/* Start Menu */
a {
	text-decoration: none;
	padding-top: 75px;
	color: #fff;
}
.how-to-play {
	padding-top: 10px;
}
.start {
	color: #ff0000;
	font-family: 'Rock Salt';
    text-shadow: 5px 5px #000;
}
.credits {
	margin-top: -60px;
}

/* Instructions */
.title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px; 
}
.rules {
	font-size: xx-large;
	padding-top: 35px;
}
.highlight {
	color: #ff0000;
	font-weight: 900;
	font-size: 20px;
	text-shadow: 2px 2px #000;
}
.page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	width: 600px;
	font-size: 10px; 
	margin-top: auto;
}
.page-title {
	display: flex;
	justify-content: center;
	height: 100px;
	width: 600px;
	margin-top: -80px;
	
}
li {
	list-style-type: circle;
	padding: 5px;
}
.navigation-container {
	display: flex;
	height: 100px;
	width: 600px;
	margin-top: -20px;
}
.navigation-item {
	display: flex;
	text-align: center;
	align-items: center;
	flex:1;
	margin-bottom: 20px;
}
.nav-btn {
	padding-bottom: 20px;
	height: 75px;
	width: 50px;
}
.instruction-play-now {
	width: 110px;
	display: round;
}
.play-now-btn {
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.play-now-text {
	font-size: 15px;
}
.next-text {
	margin-left: 13px;
	font-size: 20px;
	text-align: center;
}
.page-count {
	font-size: 13px;
	display: flex;
	justify-content: center;
}
.page-number {
	font-size: 30px;
}