@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
/* .deck .card {
	border: solid 1px #aaa;
	border-radius: 9px;
	width: 95px;
	height: 150px;
	float:left;
	background-color: white;
	padding: 3px 3px 3px 3px;
	margin: 5px;
}

.card2 {
            width: 50px;
            padding: 10px;
            border: solid 1px #808080;
            background-color: white;
            display: inline-block;
            border-radius: 10px;
            font-size: 22px;
            text-align: center;
            margin: 3px;
            border:solid 3px;
}

.card .value {
	font-size:15pt;
	font-family: sans-serif;
}

.card .suit {
	background-image: url('https://www.thatsoftwaredude.com/images/post/0f631eeb-6c4a-4bfd-9f86-e0a08ae8584b.png');
	height: 100px;
	width: 90px;
}

.card .diamonds {
	background-position-y: 100px;
}

.card .hearts {
	background-position-x: 90px;
}

.card .clubs {
	background-position-x:90px;
	background-position-y:100px;
}
 */
 /* Title */
 .title {
	 text-align: center;
 }
 .big-text {
	 font-family: "Poppins", "sans-serif";
	 font-size: 3em;
 }

 /* Playing Table */
.table-container {
	background-image: url("/src/images/table-texture.jpg");
	height: 600px;
	width: 600px;
	margin: auto;
    background-size: contain;
    overflow: hidden;
}
.table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Card styling */
.card {
	width: 100px;
	margin: auto;
}
.card-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
	height: 400px;
}

img {
	/* display:cover; */
	height: 10em;
	/* width: auto; */
}
.player-text {
	height: 100px;
}
.card-text {
	font-family: 'Yomogi', cursive;	
	font-size: 2em;
	color: #FFF;
}
.card-display {
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 600px;
}

/* Outcome Styling */
.outcome-text {
	font-family: 'Yomogi', cursive;	
	text-shadow: 1px 1px;
	margin: auto;
	font-size: 45px;
	color:#fff;
}

/* Button Styling */
.btn-container {
	/* padding-top: 2em; */
	display: flex;
	justify-content: center;
	/* width: 600px; */
	height: 30px;
}