@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
 /* Title */
 .title {
	 text-align: center;
 }
 .big-text {
	font-family: 'Rock Salt', cursive;	 
	font-size: 3em;
	color:#ff0000;
	/* text-shadow: 2px 2px rgb(114, 10, 31); */
	text-shadow: 5px 5px #000;
 }

 /* Playing Table */
.table-container {
	background-image: url("/src/images/table-texture.jpg");
	height: 600px;
	width: 600px;
	margin: auto;
    background-size: contain;
    overflow: hidden;
	border-radius: 10%;
}
.table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Card styling */
.card {
	width: 100px;
	margin: auto;
}
.card-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
	height: 400px;
}

img {
	height: 10em;
	box-shadow: 2px 2px rgb(255 0 0);
	border-radius: 10px;
}
.player-text {
	height: 100px;
}
.card-text {
	font-family: 'Yomogi', cursive;	
	font-size: 2em;
	color: #FFF;
	font-weight: bold;
	text-shadow: 3px 3px #000;

}
.card-display {
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 600px;
}

/* Outcome Styling */
.outcome-text {
	font-family: 'Yomogi', cursive;	
	text-shadow: 1px 1px;
	margin: auto;
	font-size: 45px;
	color:#fff;
	text-shadow: 3px 3px #000;

}

/* Button Styling */
.btn-container {
	display: flex;
	justify-content: center;
	width: 600px;
	height: 200px;
	/* flex-direction: row; */
	/* padding-top: 60px; */
}

.btn {
	background-image: url("/src/images/table-texture.jpg");
	font-family: 'Rock Salt', cursive;	
	font-weight: 1000;
	width: 150px;
	background-size: cover;
    overflow: hidden;
	border-radius: 10%;
	color: #fff;
	text-shadow: 3px 3px #000;
	box-shadow: 3px 3px rgb(10, 10, 10);
	font-size: 25px;
}

.steel-texture {
	background-image: url("/src/images/button-texture.jpg");
	height: 100px;
	width: 200px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10%;
	box-shadow: 5px 5px rgb(41, 40, 40);

}

.war-text:hover {
	cursor: pointer;
}
.game-over {
	/* color:#ff0000; */
}

/* Score styling */

.score-container {
	display: flex;
	flex-direction: column;
    text-align: center;
    font-size: smaller;
    justify-content: center;
    width: 200px;
}
.score-text {
	height: 50px;
}
.score-count {
	display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}